/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/composer.lock
.idea
/public/prepros-6.config
/home_security/
/nuxt3/
/python/Scripts/
/python/Lib/
/python/pyvenv.cfg
/public/front/
/package-lock.json
